{
  "presets": ["es2015"],
  "plugins": [
    [
      "babel-plugin-root-import", [{
        "rootPathPrefix": "~",
        "rootPathSuffix": "."
        }, {
          "rootPathPrefix": "@",
          "rootPathSuffix": "client"
        }
      ]
    ]
  ]
}
