{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base",
    "loopback"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "import/no-unresolved": "off"
  },
  "globals": {
    "expect": true,
    "assert": true,
    "require": true,
    "request": true
  }
}
