{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base",
    "loopback"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "test/**/*.js",
          "test/**/*.js",
          "gulp-tasks/**/*.js"
        ]
      }
    ],
    "import/extensions": "off",
    "no-param-reassign": "off"
  },
  "globals": {
    "expect": true,
    "assert": true,
    "require": true,
    "request": true
  }
}
